[mysqld]
max_allowed_packet=20M
transaction-isolation=READ-COMMITTED
lower_case_table_names=1
max_connections=1000
character_set_server=UTF8
innodb_locks_unsafe_for_binlog=1
innodb_file_per_table=true
